/*$break-small: 500px;
$break-large: 1180px;
@mixin respond-to($media) { @if $media == pda { @media only screen and (max-width: $break-small) { @content; } } @else if $media == wide { @media only screen and (min-width: $break-large) { @content; } }
}
*/
* { margin: 0; padding: 0; -webkit-text-size-adjust: none; }

body { font-family: Tahoma, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.43; color: #222; }

a img, fieldset { border: none; }

a { color: #222; }
a:hover { text-decoration: none; }

header, footer, nav, figure { display: block; }

.header { width: 940px; margin: 0 auto; padding: 20px 0 10px; }
@media only screen and (max-width: 960px) { .header { width: 98%; } }
.header .header__holder { display: inline-block; width: 100%; }
@media only screen and (max-width: 460px) { .header .header__holder { display: block; } }
.header .header__top { display: inline-block; float: right; margin-bottom: 11px; }
@media only screen and (max-width: 460px) { .header .header__top { display: block; float: none; margin: 0 auto; padding-left: 20px; width: 212px; } }

.logo { float: left; background: url('../img/icons-s1565973380.png') 0 0 no-repeat; width: 140px; height: 85px; font: 0/0 a; text-shadow: none; color: transparent; cursor: pointer; margin-bottom: 11px; }
@media only screen and (max-width: 460px) { .logo { display: block; float: none; margin: 0 auto 11px; } }
.logo a { display: block; height: 100%; }

.search-form { float: left; position: relative; margin-right: 20px; }
@media only screen and (max-width: 680px) { .search-form { float: none; margin-bottom: 10px; } }
.search-form .input { display: block; border: 1px solid #001060; font-family: "LucidaGrande", Tahoma, sans-serif; width: 184px; padding: 2px 3px; font-size: 14px; height: 20px; }
.search-form .search-btn { font: 0/0 a; text-shadow: none; color: transparent; background: url('../img/icons-s1565973380.png') 0 -122px no-repeat; width: 25px; height: 24px; position: absolute; top: 1px; right: 1px; border: 0; cursor: pointer; }

.btn-contact { background: #001060; color: #fff; text-transform: uppercase; font-weight: bold; width: 140px; text-align: center; float: left; text-decoration: none; height: 26px; line-height: 26px; position: relative; z-index: 10; }

.lang { float: left; font-weight: bold; width: 50px; position: relative; }
.lang span { padding: 2px 2px 0 12px; display: inline-block; }
.lang .lang__drop { background: #fff; position: relative; z-index: 7; padding: 3px 0 7px; display: none; position: absolute; top: 100%; left: 0; }
.lang .lang__drop ul { position: relative; z-index: 10; }
.lang .lang__drop li { list-style: none; width: 50px; }
.lang .lang__drop a { text-decoration: none; color: #000; display: block; padding: 3px 0 2px 12px; }
.lang .lang__drop:after { box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); width: 100%; height: 105px; position: absolute; content: ''; bottom: 0; left: 0; z-index: 3; }
.lang .lang__drop:before { width: 62px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsIDI1NSwgMjU1LCAwKSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0))); background-image: -webkit-linear-gradient(#ffffff, rgba(255, 255, 255, 0)); background-image: -moz-linear-gradient(#ffffff, rgba(255, 255, 255, 0)); background-image: -o-linear-gradient(#ffffff, rgba(255, 255, 255, 0)); background-image: linear-gradient(#ffffff, rgba(255, 255, 255, 0)); height: 111px; position: absolute; content: ''; bottom: 0; left: -6px; z-index: 5; }
.lang .lang__active { cursor: pointer; }
.lang .arr_down { position: absolute; right: 1px; top: 10px; }

.arr_down { background: url('../img/icons-s1565973380.png') 0 -280px no-repeat; width: 10px; height: 8px; display: inline-block; }

.nav-holder { display: inline-block; float: right; margin-top: 11px; }
@media only screen and (max-width: 460px) { .nav-holder { display: block; float: none; margin: 0 auto 11px; clear: both; padding-top: 22px; text-align: center; } }

.nav li { display: inline-block; list-style: none; font-weight: bold; text-transform: uppercase; margin: 0 1px 0 26px; position: relative; }
.nav li:hover a { color: #001060; }
.nav li:hover .arr_down { background: url('../img/icons-s1565973380.png') 0 -262px no-repeat; width: 10px; height: 8px; }
.nav li:hover .nav__drop { display: block; }
.nav a { color: #222; text-decoration: none; }
.nav .nav__drop { display: none; position: absolute; top: 100%; left: 50%; width: 740px; margin-left: -325px; padding-top: 31px; z-index: 15; }
@media only screen and (max-width: 960px) { .nav .nav__drop { width: 260px; margin-left: -130px; } }
.nav .nav__drop li { margin: 0 10px 20px; float: left; }
@media only screen and (max-width: 960px) { .nav .nav__drop li { display: block; float: none; } }
.nav .nav__drop ul { background: #001060; padding: 27px 10px 1px; font-family: "LucidaGrande-B", Tahoma, sans-serif; overflow: hidden; }
.nav .nav__drop a { color: #fff; }
.nav .nav__drop strong { font-weight: normal; font-size: 12px; color: #fff; display: block; margin-bottom: 10px; }
.nav .nav__drop img { vertical-align: top; }
.nav .nav__drop .nav__drop-arr { background: url('../img/icons-s1565973380.png') 0 -156px no-repeat; width: 41px; height: 21px; position: absolute; top: 10px; left: 50%; margin-left: -25px; }
.nav .arr_down { margin-left: 4px; }

.header-media { background: url(../img/bg-media.png); text-align: center; margin-bottom: 20px; }
.header-media img { vertical-align: top; height: auto !important; }
@media only screen and (max-width: 960px) { .header-media img { width: 100%; } }

.footer { background: #001060; color: #fff; padding: 25px 0 0; }
.footer .footer__title { font-size: 14px; color: #fff; border-bottom: 1px dotted; padding-bottom: 3px; margin-bottom: 7px; }
.footer .footer__nav { margin-bottom: 34px; }
.footer .footer__nav li { list-style: none; margin: 7px 0; }
.footer .footer__nav a { color: #fff; text-decoration: none; }
.footer .footer__nav a:hover { text-decoration: underline; }
.footer .footer__note { font-size: 11px; line-height: 1.27; display: block; }
.footer .footer__rights { border-top: 1px dotted #fff; text-align: center; font-size: 12px; padding: 8px 0 13px; margin-top: 25px; }

.form-subscribe { display: inline-block; margin: 13px 0 7px; }
.form-subscribe .input { width: 188px; padding: 0 5px; box-shadow: 0 0 3px rgba(0, 0, 0, 0.75) inset; float: left; height: 26px; line-height: 26px; border: 0; }
.form-subscribe .btn { float: left; width: 100px; text-align: center; height: 26px; font-size: 14px; color: #222; border: 0; }
@media only screen and (max-width: 960px) { .form-subscribe .btn { width: 198px; } }

.icon-fb, .icon-tw, .icon-gp, .icon-tl, .icon-mail, .icon-print { display: inline-block; position: relative; top: 2px; margin-right: 6px; }

.icon-fb { background: url('../img/icons-s1565973380.png') 0 -212px no-repeat; width: 15px; height: 15px; }

.icon-tw { background: url('../img/icons-s1565973380.png') 0 -237px no-repeat; width: 15px; height: 15px; }

.icon-gp { background: url('../img/icons-s1565973380.png') 0 -95px no-repeat; width: 16px; height: 17px; }

.icon-tl { background: url('../img/icons-s1565973380.png') 0 -187px no-repeat; width: 15px; height: 15px; }

.icon-mail { background: url('../img/icons-s1565973380.png') 0 -298px no-repeat; width: 15px; height: 15px; }

.icon-print { background: url('../img/icons-s1565973380.png') 0 -349px no-repeat; width: 15px; height: 15px; }

.main { padding-top: 10px; min-height: 220px; }
.main p { margin: 0 0 20px; }
.main .p_mark:before { content: ''; height: 13px; width: 13px; display: inline-block; background: #008375; margin-right: 5px; position: relative; top: 1px; }
.main figure { margin: 0 0 20px; padding-top: 10px; }
.main figure img { vertical-align: top; }
@media only screen and (max-width: 960px) { .main figure img { max-width: 100%; } }

.h1, .h1_mark { color: #001060; font-size: 18px; margin: 13px 0 18px; font-weight: bold; display: block; }

.h2 { font-size: 14px; color: #222; margin: 20px 0 15px; font-weight: bold; display: block; }

.h1_mark:before { content: ''; height: 15px; width: 15px; display: inline-block; background: #008375; margin-right: 7px; position: relative; top: 1px; }

.h2_mark { color: #424242; font-size: 16px; margin-bottom: 10px; }
.h2_mark:before { background: #008375; content: ""; display: inline-block; height: 13px; width: 13px; margin-right: 7px; position: relative; top: 0; }

.link-more { font-weight: bold; float: right; }

.text-block, .text-block_shadow { display: inline-block; width: 100%; margin: 0 0 52px; }
.text-block .text-block__holder, .text-block_shadow .text-block__holder { position: relative; padding: 0 19px 0; z-index: 7; margin-top: 13px; }
@media only screen and (max-width: 960px) { .text-block .text-block__holder img, .text-block_shadow .text-block__holder img { max-width: 100%; } }
.text-block .list, .text-block_shadow .list { margin: 20px 0; }
.text-block .list li, .text-block_shadow .list li { margin-bottom: 20px; }

.text-block_shadow { position: relative; }
.text-block_shadow:after { box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); width: 100%; height: 211px; position: absolute; content: ''; top: 0; left: 0; z-index: 3; }
.text-block_shadow:before { width: 100%; padding: 0 8px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsIDI1NSwgMjU1LCAwKSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff)); background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), #ffffff); background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), #ffffff); background-image: -o-linear-gradient(rgba(255, 255, 255, 0), #ffffff); background-image: linear-gradient(rgba(255, 255, 255, 0), #ffffff); height: 219px; position: absolute; content: ''; top: 0; left: -8px; z-index: 5; }

.tabs { display: inline-block; width: 100%; margin-bottom: 52px; }
.tabs .tabs__nav { height: 44px; width: 100%; }
.tabs .tabs__nav li { float: left; list-style: none; background: #ccc; width: 35%; padding: 0 6%; position: relative; cursor: pointer; margin-left: 6%; height: 44px; }
.tabs .tabs__nav li:first-child { margin-left: 0; }
.tabs .tabs__nav a { text-decoration: none; }
.tabs .tabs__nav h1 { color: #fff; margin-bottom: 5px; }
@media only screen and (max-width: 460px) { .tabs .tabs__nav h1 { font-size: 15px; } }
.tabs .tabs__nav h1:before { background: #fff; }
.tabs .tabs__nav .active { background: #fff; box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); position: relative; }
.tabs .tabs__nav .active .h1_mark { color: #001060; }
.tabs .tabs__nav .active .h1_mark:before { background: #008375; }
.tabs .tabs__nav .active:after { content: ''; background: #fff; width: 100%; bottom: -1px; height: 10px; position: absolute; z-index: 11; left: 0; }
.tabs .tabs__content { position: relative; z-index: 9; padding: 4px 19px; background: #fff; }
.tabs .tabs__content:after { box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); width: 100%; height: 167px; position: absolute; content: ''; top: 0; left: 0; z-index: 3; }
.tabs .tabs__content:before { width: 100%; padding: 0 8px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsIDI1NSwgMjU1LCAwKSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff)); background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), #ffffff); background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), #ffffff); background-image: -o-linear-gradient(rgba(255, 255, 255, 0), #ffffff); background-image: linear-gradient(rgba(255, 255, 255, 0), #ffffff); height: 175px; position: absolute; content: ''; top: 0; left: -8px; z-index: 5; }
.tabs .tabs__box { position: relative; z-index: 9; display: none; }

.in { width: 940px; margin: 0 auto; }
@media only screen and (max-width: 960px) { .in { width: 100%; } }

.main { width: 940px; margin: 0 auto; }
@media only screen and (max-width: 960px) { .main { width: 100%; }
  .main .l { padding: 0 8px; width: auto; } }

@media only screen and (max-width: 960px) { .footer .in { width: 96%; } }
@media only screen and (max-width: 460px) { .footer .in { width: 90%; }
  .footer .in .l-col { width: 100%; } }

@media only screen and (max-width: 680px) { .l-col-group { display: inline-block; width: 100%; }
  .l-col-group > div:last-child { margin-right: 0; }
  .l-col-group .l-col2, .l-col-group .l-col3, .l-col-group .l-col4 { width: 48.93617%; } }
