* { margin: 0; padding: 0; -webkit-text-size-adjust: none; }

body { font-family: Tahoma, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.43; color: #222; }

a img, fieldset { border: none; }

a { color: #222; }
a:hover { text-decoration: none; }

.in { width: 940px; margin: 0 auto; }

.header { width: 940px; margin: 0 auto; height: 100px; padding: 20px 0 0; }
.header .header__holder { float: right; width: 780px; }
.header .header__top { display: inline-block; width: 100%; }

.logo { float: left; background: url('../img/icons-s8828bd8675.png') 0 0 no-repeat; width: 140px; height: 85px; font: 0/0 a; text-shadow: none; color: transparent; cursor: pointer; }
.logo a { display: block; height: 100%; }

.search-form { float: right; position: relative; margin-right: 20px; }
.search-form .input { float: left; border: 1px solid #001060; font-family: "LucidaGrande", Tahoma, sans-serif; width: 184px; padding: 2px 3px; font-size: 14px; height: 20px; }
.search-form .search-btn { font: 0/0 a; text-shadow: none; color: transparent; background: url('../img/icons-s8828bd8675.png') 0 -122px no-repeat; width: 25px; height: 24px; position: absolute; top: 1px; right: 1px; border: 0; cursor: pointer; }

.btn-contact { background: #001060; color: #fff; text-transform: uppercase; font-weight: bold; width: 140px; text-align: center; float: right; text-decoration: none; height: 26px; line-height: 26px; position: relative; z-index: 10; }

.lang { float: right; font-weight: bold; width: 50px; }
.lang span { padding: 2px 2px 0 12px; display: inline-block; }
.lang .lang__drop { background: #fff; position: relative; z-index: 7; padding: 3px 0 7px; display: none; }
.lang .lang__drop ul { position: relative; z-index: 10; }
.lang .lang__drop li { list-style: none; width: 50px; }
.lang .lang__drop a { text-decoration: none; color: #000; display: block; padding: 3px 0 2px 12px; }
.lang .lang__drop:after { box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); width: 100%; height: 105px; position: absolute; content: ''; bottom: 0; left: 0; z-index: 3; }
.lang .lang__drop:before { width: 62px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsIDI1NSwgMjU1LCAwKSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0))); background-image: -webkit-linear-gradient(#ffffff, rgba(255, 255, 255, 0)); background-image: -moz-linear-gradient(#ffffff, rgba(255, 255, 255, 0)); background-image: -o-linear-gradient(#ffffff, rgba(255, 255, 255, 0)); background-image: linear-gradient(#ffffff, rgba(255, 255, 255, 0)); height: 111px; position: absolute; content: ''; bottom: 0; left: -6px; z-index: 5; }

.arr_down { background: url('../img/icons-s8828bd8675.png') 0 -280px no-repeat; width: 10px; height: 8px; display: inline-block; }

.nav-holder { display: inline-block; width: 100%; padding: 19px 0 0; }

.nav { float: right; }
.nav li { float: left; list-style: none; font-weight: bold; text-transform: uppercase; margin: 0 1px 0 30px; position: relative; }
.nav li:hover a { color: #001060; }
.nav li:hover .arr_down { background: url('../img/icons-s8828bd8675.png') 0 -262px no-repeat; width: 10px; height: 8px; }
.nav li:hover .nav__drop { display: block; }
.nav a { color: #222; text-decoration: none; }
.nav .nav__drop { display: none; position: absolute; top: 100%; left: 50%; width: 740px; margin-left: -325px; padding-top: 31px; }
.nav .nav__drop li { margin: 0 10px; }
.nav .nav__drop ul { background: #001060; padding: 27px 10px 20px; font-family: "LucidaGrande-B", Tahoma, sans-serif; overflow: hidden; }
.nav .nav__drop a { color: #fff; }
.nav .nav__drop strong { font-weight: normal; font-size: 12px; color: #fff; display: block; margin-bottom: 10px; }
.nav .nav__drop img { vertical-align: top; }
.nav .nav__drop .nav__drop-arr { background: url('../img/icons-s8828bd8675.png') 0 -156px no-repeat; width: 41px; height: 21px; position: absolute; top: 10px; left: 50%; margin-left: -25px; }
.nav .arr_down { margin-left: 4px; }

.header-media { background: url(../img/bg-media.png); text-align: center; margin-bottom: 30px; }
.header-media img { vertical-align: top; }

.footer { background: #001060; color: #fff; padding: 25px 0 0; }
.footer .footer__title { font-size: 14px; color: #fff; border-bottom: 1px dotted; padding-bottom: 3px; margin-bottom: 7px; }
.footer .footer__nav { margin-bottom: 34px; }
.footer .footer__nav li { list-style: none; margin: 7px 0; }
.footer .footer__nav a { color: #fff; text-decoration: none; }
.footer .footer__nav a:hover { text-decoration: underline; }
.footer .footer__note { font-size: 11px; line-height: 1.27; display: block; }
.footer .footer__rights { border-top: 1px dotted #fff; text-align: center; font-size: 12px; padding: 8px 0 13px; margin-top: 25px; }

.form-subscribe { display: inline-block; margin: 13px 0 7px; }
.form-subscribe .input { width: 188px; padding: 0 5px; box-shadow: 0 0 3px rgba(0, 0, 0, 0.75) inset; float: left; height: 26px; line-height: 26px; border: 0; }
.form-subscribe .btn { float: left; width: 100px; text-align: center; height: 26px; font-size: 14px; color: #222; border: 0; }

.icon, .icon-fb, .icon-tw, .icon-gp, .icon-tl, .icon-mail, .icon-print { display: inline-block; position: relative; top: 2px; margin-right: 6px; }

.icon-fb { background: url('../img/icons-s8828bd8675.png') 0 -212px no-repeat; width: 15px; height: 15px; }

.icon-tw { background: url('../img/icons-s8828bd8675.png') 0 -237px no-repeat; width: 15px; height: 15px; }

.icon-gp { background: url('../img/icons-s8828bd8675.png') 0 -95px no-repeat; width: 16px; height: 17px; }

.icon-tl { background: url('../img/icons-s8828bd8675.png') 0 -187px no-repeat; width: 15px; height: 15px; }

.icon-mail { background: url('../img/icons-s8828bd8675.png') 0 -298px no-repeat; width: 15px; height: 15px; }

.icon-print { background: url('../img/icons-s8828bd8675.png') 0 -323px no-repeat; width: 15px; height: 15px; }

.main { margin: 0 auto; width: 940px; }
.main p { margin: 0 0 7px; }
.main figure { margin: 0 0 20px; padding-top: 10px; }
.main figure img { vertical-align: top; }

.h1, .h1_mark { color: #001060; font-size: 18px; margin: 13px 0 18px; }

.h2 { font-size: 14px; color: #222; margin: 20px 0 15px; }

.h1_mark:before { content: ''; height: 15px; width: 15px; display: inline-block; background: #008375; margin-right: 7px; position: relative; top: 1px; }

.text-block, .text-block_shadow { display: inline-block; width: 100%; margin: 0 0 52px; }
.text-block .text-block__holder, .text-block_shadow .text-block__holder { position: relative; padding: 0 19px 19px; z-index: 7; }

.text-block_shadow { position: relative; }
.text-block_shadow:after { box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); width: 100%; height: 211px; position: absolute; content: ''; top: 0; left: 0; z-index: 3; }
.text-block_shadow:before { width: 100%; padding: 0 8px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsIDI1NSwgMjU1LCAwKSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff)); background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), #ffffff); background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), #ffffff); background-image: -o-linear-gradient(rgba(255, 255, 255, 0), #ffffff); background-image: linear-gradient(rgba(255, 255, 255, 0), #ffffff); height: 219px; position: absolute; content: ''; top: 0; left: -8px; z-index: 5; }

.link-more { font-weight: bold; float: right; }

.tabs .tabs__nav { height: 44px; width: 100%; }
.tabs .tabs__nav li { float: left; list-style: none; background: #ccc; width: 102px; padding: 0 19px; position: relative; cursor: pointer; margin-left: 20px; }
.tabs .tabs__nav li:first-child { margin-left: 0; }
.tabs .tabs__nav li:after { box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); width: 100%; height: 167px; position: absolute; content: ''; top: 44px; left: 0; z-index: 3; }
.tabs .tabs__nav li:before { width: 100%; padding: 0 8px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsIDI1NSwgMjU1LCAwKSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff)); background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), #ffffff); background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), #ffffff); background-image: -o-linear-gradient(rgba(255, 255, 255, 0), #ffffff); background-image: linear-gradient(rgba(255, 255, 255, 0), #ffffff); height: 219px; position: absolute; content: ''; top: 0; left: -8px; z-index: 5; }
.tabs .tabs__nav a { text-decoration: none; }
.tabs .tabs__nav h1 { color: #fff; margin-bottom: 5px; }
.tabs .tabs__nav h1:before { background: #fff; }
.tabs .tabs__nav .active { background: #fff; }
.tabs .tabs__nav .active .h1_mark { color: #001060; }
.tabs .tabs__nav .active .h1_mark:before { background: #008375; }
.tabs .tabs__nav .active:after { height: 211px; top: 0; }
.tabs .tabs__content { position: relative; z-index: 9; padding: 4px 19px; background: #fff; }

.article__list .article__item { padding: 10px 0 4px; border-top: 1px dotted #081451; }
.article__list .article__item .article__date { font-size: 12px; color: #222; font-weight: bold; display: block; }
.article__list .article__item h2 { font-size: 16px; color: #001060; line-height: 1.3; }
.article__list .article__item:first-child { border: 0; }
