/*$break-small: 500px;
$break-large: 1180px;
@mixin respond-to($media) { @if $media == pda { @media only screen and (max-width: $break-small) { @content; } } @else if $media == wide { @media only screen and (min-width: $break-large) { @content; } }
}
*/
/* default layout */
.l { width: 100%; display: inline-block; }
@media only screen and (max-width: 460px) { .l { display: block; } }

.l-col1 { width: 6.38298%; }

.l-col2 { width: 14.89362%; }

.l-col3 { width: 23.40426%; }

.l-col4 { width: 31.91489%; }

.l-col5 { width: 40.42553%; }

.l-col6 { width: 48.93617%; }

.l-col7 { width: 57.44681%; }

.l-col8 { width: 65.95745%; }

.l-col9 { width: 74.46809%; }

.l-col10 { width: 82.97872%; }

.l-col11 { width: 91.48936%; }

.l-col12 { width: 100%; }

@media only screen and (max-width: 960px) { .l-col_st { width: 100%; float: none; } }

.l-col, .l-col1, .l-col2, .l-col3, .l-col4, .l-col5, .l-col6, .l-col7, .l-col8, .l-col9, .l-col10, .l-col11, .l-col12 { float: left; margin-right: 2.12766%; }
@media only screen and (max-width: 460px) { .l-col, .l-col1, .l-col2, .l-col3, .l-col4, .l-col5, .l-col6, .l-col7, .l-col8, .l-col9, .l-col10, .l-col11, .l-col12 { width: 100%; float: none; } }

.l-col_last { margin-right: 0; }
