/*$break-small: 500px;
$break-large: 1180px;
@mixin respond-to($media) { @if $media == pda { @media only screen and (max-width: $break-small) { @content; } } @else if $media == wide { @media only screen and (min-width: $break-large) { @content; } }
}
*/
.article__list .article__item { padding: 10px 0 4px; border-top: 1px dotted #081451; }
.article__list .article__item .article__date { font-size: 12px; color: #222; font-weight: bold; display: block; }
.article__list .article__item h2 { font-size: 16px; color: #001060; line-height: 1.3; }
.article__list .article__item h2 a { text-decoration: none; }
.article__list .article__item h2 a:hover { text-decoration: underline; }
.article__list .article__item p { margin-bottom: 7px; }
.article__list .article__item:first-child { border: 0; }

.trans-list, .trans-list_big { overflow: hidden; margin: 0 -13px 14px; }
.trans-list li, .trans-list_big li { float: left; list-style: none; margin: 0 10px 10px; }
@media only screen and (max-width: 960px) { .trans-list li, .trans-list_big li { text-align: center; float: none; } }
.trans-list img, .trans-list_big img { vertical-align: top; }

.services { overflow: hidden; padding: 33px 0 0; margin: 0 0 0 4px; }
.services .services__left { float: left; }
.services .services__top { padding: 0 6px; border-right: 1px solid #ccc; margin-bottom: 9px; }
.services .services__bottom { padding: 0 6px; border-right: 1px solid #ccc; }
.services .services__bottom li { height: 60px; }
.services .services__bottom .two-lines { padding-top: 6px; height: 54px; line-height: 14px; }
.services .services__col { float: left; width: 206px; text-decoration: none; }
.services .services__col a { text-decoration: none; }
.services .services__col a:hover li, .services .services__col a.services__color li { background: #c5d7e7; }
.services .services__col a:hover h2, .services .services__col a.services__color h2 { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9InRvIiB5MT0icmlnaHQiIHgyPSJ0byIgeTI9ImxlZnQiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDA4NDEiLz48c3RvcCBvZmZzZXQ9IjIyJSIgc3RvcC1jb2xvcj0iIzA0MGU0OSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdiOGFhOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, to right, to left, color-stop(0%, #000841), color-stop(22%, #040e49), color-stop(100%, #7b8aa9)); background-image: -webkit-linear-gradient(to right, #000841 0%, #040e49 22%, #7b8aa9 100%); background-image: -moz-linear-gradient(to right, #000841 0%, #040e49 22%, #7b8aa9 100%); background-image: -o-linear-gradient(to right, #000841 0%, #040e49 22%, #7b8aa9 100%); background-image: linear-gradient(to right, #000841 0%, #040e49 22%, #7b8aa9 100%); }
.services .services__col_last { width: 200px; }
.services .services__col_last .services__top, .services .services__col_last .services__bottom { border-right: 0; padding-right: 0; }
.services h2 { line-height: 40px; color: #fff; font-weight: normal; font-size: 12px; margin-bottom: 8px; text-align: center; text-transform: uppercase; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9InRvIiB5MT0icmlnaHQiIHgyPSJ0byIgeTI9ImxlZnQiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNhYWIwYmUiLz48c3RvcCBvZmZzZXQ9IjE1JSIgc3RvcC1jb2xvcj0iI2E5YWZiYiIvPjxzdG9wIG9mZnNldD0iMjMlIiBzdG9wLWNvbG9yPSIjYWViMmJkIi8+PHN0b3Agb2Zmc2V0PSI4MiUiIHN0b3AtY29sb3I9IiNlMGU0ZTciLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlN2ViZWMiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, to right, to left, color-stop(0%, #aab0be), color-stop(15%, #a9afbb), color-stop(23%, #aeb2bd), color-stop(82%, #e0e4e7), color-stop(100%, #e7ebec)); background-image: -webkit-linear-gradient(to right, #aab0be 0%, #a9afbb 15%, #aeb2bd 23%, #e0e4e7 82%, #e7ebec 100%); background-image: -moz-linear-gradient(to right, #aab0be 0%, #a9afbb 15%, #aeb2bd 23%, #e0e4e7 82%, #e7ebec 100%); background-image: -o-linear-gradient(to right, #aab0be 0%, #a9afbb 15%, #aeb2bd 23%, #e0e4e7 82%, #e7ebec 100%); background-image: linear-gradient(to right, #aab0be 0%, #a9afbb 15%, #aeb2bd 23%, #e0e4e7 82%, #e7ebec 100%); }
.services li { background: #e2e5e6; height: 40px; line-height: 40px; margin-bottom: 4px; list-style: none; text-align: center; color: #000a4e; font-size: 12px; }
.services .two-lines { line-height: 14px; height: 34px; padding-top: 6px; }
.services .services__empty { background: #eef0f1; }
.services .services__left { width: 40px; padding-top: 48px; }
.services .services__left .services__bottom, .services .services__left .services__top { background: #9ea5ad; border: 0; padding: 0; }
.services .services__left .title_advisory { background: url('../img/icons-s852e08cb49.png') 0 -360px no-repeat; width: 40px; height: 216px; font: 0/0 a; text-shadow: none; color: transparent; background-size: auto; padding: 0; }
.services .services__left .title_placement { background: url('../img/icons-s852e08cb49.png') 0 -761px no-repeat; width: 40px; height: 124px; font: 0/0 a; text-shadow: none; color: transparent; background-size: auto; padding: 0; }

.services_big { margin: 0 0 0 32px; }
.services_big .services__bottom { padding: 0 6px; border-right: 1px solid #ccc; }
.services_big .services__bottom li { height: 60px; }
.services_big .services__bottom .two-lines { padding-top: 6px; height: 74px; line-height: 18px; }
.services_big .services__col { width: 230px; text-decoration: none; border-right: 0; padding-right: 0; }
.services_big .services__col li { background: #c5d7e7; }
.services_big .services__col h2 { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9InRvIiB5MT0icmlnaHQiIHgyPSJ0byIgeTI9ImxlZnQiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDA4NDEiLz48c3RvcCBvZmZzZXQ9IjIyJSIgc3RvcC1jb2xvcj0iIzA0MGU0OSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdiOGFhOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, to right, to left, color-stop(0%, #000841), color-stop(22%, #040e49), color-stop(100%, #7b8aa9)); background-image: -webkit-linear-gradient(to right, #000841 0%, #040e49 22%, #7b8aa9 100%); background-image: -moz-linear-gradient(to right, #000841 0%, #040e49 22%, #7b8aa9 100%); background-image: -o-linear-gradient(to right, #000841 0%, #040e49 22%, #7b8aa9 100%); background-image: linear-gradient(to right, #000841 0%, #040e49 22%, #7b8aa9 100%); }
.services_big h2 { line-height: 46px; font-size: 14px; margin-bottom: 8px; text-align: left; padding-left: 18px; }
.services_big li { background: #e2e5e6; height: 47px; line-height: 47px; margin-bottom: 5px; text-align: left; font-size: 14px; padding-left: 14px; }
.services_big .two-lines { line-height: 16px; height: 40px; padding-top: 7px; }
.services_big .services__left { width: 46px; padding-top: 54px; margin-right: 2px; }
.services_big .services__left .title_advisory { background: url('../img/icons-s852e08cb49.png') 0 -95px no-repeat; width: 46px; height: 255px; }
.services_big .services__left .title_placement { background: url('../img/icons-s852e08cb49.png') 0 -586px no-repeat; width: 46px; height: 165px; }

.industry-focus { padding: 31px 0 0 16px; }
.industry-focus .industry-focus__row { overflow: hidden; margin-bottom: 4px; }
.industry-focus .industry-focus__row:hover h2 { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9InRvIiB5MT0icmlnaHQiIHgyPSJ0byIgeTI9ImxlZnQiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDA4NDEiLz48c3RvcCBvZmZzZXQ9IjIyJSIgc3RvcC1jb2xvcj0iIzA0MGU0OSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdiOGFhOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, to right, to left, color-stop(0%, #000841), color-stop(22%, #040e49), color-stop(100%, #7b8aa9)); background-image: -webkit-linear-gradient(to right, #000841 0%, #040e49 22%, #7b8aa9 100%); background-image: -moz-linear-gradient(to right, #000841 0%, #040e49 22%, #7b8aa9 100%); background-image: -o-linear-gradient(to right, #000841 0%, #040e49 22%, #7b8aa9 100%); background-image: linear-gradient(to right, #000841 0%, #040e49 22%, #7b8aa9 100%); }
.industry-focus .industry-focus__row:hover li { background: #c5d7e7; }
.industry-focus h2 { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9InRvIiB5MT0icmlnaHQiIHgyPSJ0byIgeTI9ImxlZnQiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNhYWIwYmUiLz48c3RvcCBvZmZzZXQ9IjE1JSIgc3RvcC1jb2xvcj0iI2E5YWZiYiIvPjxzdG9wIG9mZnNldD0iMjMlIiBzdG9wLWNvbG9yPSIjYWViMmJkIi8+PHN0b3Agb2Zmc2V0PSI4MiUiIHN0b3AtY29sb3I9IiNlMGU0ZTciLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlN2ViZWMiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, to right, to left, color-stop(0%, #aab0be), color-stop(15%, #a9afbb), color-stop(23%, #aeb2bd), color-stop(82%, #e0e4e7), color-stop(100%, #e7ebec)); background-image: -webkit-linear-gradient(to right, #aab0be 0%, #a9afbb 15%, #aeb2bd 23%, #e0e4e7 82%, #e7ebec 100%); background-image: -moz-linear-gradient(to right, #aab0be 0%, #a9afbb 15%, #aeb2bd 23%, #e0e4e7 82%, #e7ebec 100%); background-image: -o-linear-gradient(to right, #aab0be 0%, #a9afbb 15%, #aeb2bd 23%, #e0e4e7 82%, #e7ebec 100%); background-image: linear-gradient(to right, #aab0be 0%, #a9afbb 15%, #aeb2bd 23%, #e0e4e7 82%, #e7ebec 100%); height: 85px; line-height: 85px; width: 120px; color: #fff; font-weight: normal; font-size: 12px; padding: 0 15px; text-transform: uppercase; float: left; margin-right: 9px; }
.industry-focus li { float: left; list-style: none; height: 40px; width: 163px; padding: 0 15px; background: #e2e5e6; margin: 0 9px 5px 0; color: #000a4e; line-height: 40px; }

.team { padding: 19px 0 0 2px; }
.team li { list-style: none; overflow: hidden; border-top: 1px solid #cecece; padding: 11px 0; }
.team li:first-child { border-top: 0; }
.team .team__photo { float: left; }
.team .team__name { float: left; margin: 9px 0 0 20px; }
.team .team__name h2 { color: #001060; font-size: 13px; text-transform: uppercase; }
.team .team__name h2 a { color: #001060; text-decoration: none; }
.team .team__name h2:before { content: ''; height: 13px; width: 13px; display: inline-block; background: #008375; margin-right: 5px; position: relative; top: 1px; }
.team .team__name h3 { font-weight: normal; font-size: 15px; margin-left: 18px; }
.team .team__social { float: right; }

.linkedin { display: block; background: url('../img/icons-s852e08cb49.png') 0 -1148px no-repeat; width: 16px; height: 16px; }

.person__data { padding: 0 0 32px; }
.person__data .h1_mark { margin: 17px 0 32px; }
.person__data p { margin: 0 25px 10px; line-height: 1.4; }

.person__info { padding: 0 0 5px; }
.person__info h2 { text-transform: uppercase; font-size: 14px; font-weight: normal; border-bottom: 1px solid #ccc; margin-bottom: 35px; }
.person__info h2 span { border: 1px solid #ccc; border-width: 1px 1px 0 0; background: #fff; display: inline-block; position: relative; bottom: -1px; padding: 4px 0 7px 25px; width: 190px; }
.person__info dl { width: 100%; display: inline-block; }
.person__info dt { float: left; font-weight: bold; width: 25%; padding: 0 0 0 3.8%; margin: 0 0 33px; }
.person__info dd { float: left; width: 60%; margin: 0 0 33px; }

.h1_pers { margin-bottom: 0; }

.person__post { color: #999; display: block; font-size: 13px; margin: -3px 0 25px; position: relative; }

.person__photo { margin: 0 0 10px; }

.map-holder { margin: 0 0 25px; position: relative; }

.map-legend { position: absolute; right: -5px; top: -30px; }

.add-menu li { list-style: none; }
.add-menu a { color: #001060; font-size: 13px; text-decoration: none; }
.add-menu a:hover { text-decoration: underline; }
.add-menu .active a { font-weight: bold; }

.img-text { display: inline-block; width: 100%; }
.img-text .h2 { margin: 10px 0 20px; }

.main .img-left { float: left; margin-right: 40px; }

.trans-list_big img { border: 1px solid #c5c5c9; width: 137px; }
.trans-list_big li { cursor: pointer; margin: 0 16px 35px; }
.trans-list_big li:hover { box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); }

.position .position__item { list-style: none; border-bottom: 1px dotted #001060; padding: 30px 0 15px; }
.position h2 { font-size: 16px; color: #001060; margin-bottom: -1px; }

.press .press__item { list-style: none; border-top: 1px dotted #001060; padding: 10px 0 0; }
.press .press__item:first-child { border: 0; }
.press em { font-size: 12px; color: #424242; font-style: normal; }
.press h2 { font-size: 16px; color: #001060; margin-bottom: -1px; }
.press p { margin-bottom: 18px; }

.employee { margin: 17px 0 44px; }
.employee .employee__img { float: left; margin: 0 10px 12px 0; padding: 0; }
.employee h1 { margin: 0 0 22px; }
.employee img { vertical-align: top; }
.employee p { margin-top: 0; line-height: 1.3; }
.employee .employee__post { clear: both; color: #424242; font-size: 13px; }
.employee .employee__post span { display: block; }

.contact-box, .contact-box_wi { width: 100%; margin: 17px 0 44px; display: inline-block; }
.contact-box .contact-box__img, .contact-box_wi .contact-box__img { float: left; margin: 0 20px 0 0; padding: 0; }
.contact-box .contact-box__info, .contact-box_wi .contact-box__info { float: left; width: 200px; line-height: 1.3; }
.contact-box h1, .contact-box_wi h1 { margin-top: 0; }
.contact-box h2, .contact-box_wi h2, .contact-box h3, .contact-box_wi h3 { font-size: 14px; color: #333333; }
.contact-box span, .contact-box_wi span { display: block; }
.contact-box p, .contact-box_wi p { margin: 0 0 17px; }

.contact-box_wi { margin: 5px 0 35px; }
.contact-box_wi .contact-box__info { margin-left: 21px; width: auto; }

.h2_mark { color: #424242; font-size: 16px; margin-bottom: 10px; }
.h2_mark:before { background: none repeat scroll 0 0 #008375; content: ""; display: inline-block; height: 13px; margin-right: 7px; position: relative; top: 0; width: 13px; }

.contact-box h1, .contact-box_wi h1, .contact-box_wi h1 { margin-top: 0; }

.h1, .h1_pers, .h1_mark, .h1_pers { color: #001060; font-size: 18px; margin: 13px 0 18px; }

.event { margin: 0 0 40px; }
.event h1 { margin: 15px 0 30px; }
.event .event__item { margin: 0 0 20px; }
.event em { font-size: 12px; color: #424242; font-style: normal; }
.event h2 { font-size: 16px; color: #001060; margin: 0 0 -2px; }

.tab-menu { text-align: right; margin: -9px 0 -17px; }
.tab-menu li { list-style: none; display: inline-block; font-size: 13px; border-left: 1px solid #999; padding: 0 6px 0 9px; line-height: 1; }
.tab-menu li:first-child { border: 0; }
.tab-menu a { color: #999; text-decoration: none; }
.tab-menu a:hover { text-decoration: underline; }

.pagi { color: #001060; text-align: center; margin: 50px 0 0 55px; }
.pagi a { color: #001060; text-decoration: none; }
.pagi a:hover { text-decoration: underline; }

.btn_gray { background: #e0e0e0; color: #001060; width: 140px; height: 26px; line-height: 26px; text-align: center; margin-bottom: 13px; font-weight: bold; cursor: pointer; }

.contact-form h1 { margin-bottom: 25px; }

.row { display: inline-block; width: 100%; margin-bottom: 15px; }

.input { color: #000; font-family: Tahoma, sans-serif; font-size: 12px; height: 23px; width: 425px; padding: 0 5px; }

.label { font-size: 14px; font-weight: bold; width: 140px; color: #424242; float: left; }

.input_textarea { width: 425px; padding: 5px; height: 125px; }

.btn_submit { background: #001060; width: 140px; height: 27px; color: #fff; text-transform: uppercase; border: 0; float: right; font-weight: bold; cursor: pointer; }

.office-list { padding: 0 0 0 20px; line-height: 1.3; }
.office-list dt { float: left; width: 104px; }
.office-list dd { margin-left: 104px; }
