@import "lib/base";
@import "lib/animations";
@import "lib/keyframes";

// gradients for ie
$experimental-support-for-svg: true;
// global sprites
$icons: sprite-map("icons/*.png", $spacing: 10px);

$blue : #001060;
$wgrid : 60px;
$wskip : 20px;
$maxgrid : 12;

@function grid($n){
	@return $wgrid * $n + $wskip * ($n - 1);
}
@function gridpr($n2){
	$wpr : (grid($n2) * 100% / grid($maxgrid));
	@return $wpr;
}
$wskpr : $wskip * 100% / grid($maxgrid);
$wsite : grid($maxgrid);

// responsive
@mixin respond-to($media) {
	@if $media == step {
		@media only screen and (max-width: 960px) { @content; }
	}
	@else if $media == step1 {
		@media only screen and (max-width: 680px) { @content; }
	}
	@else if $media == step2 {
		@media only screen and (max-width: 460px) { @content; }
	}
	@else if $media == step3 {  
		@media only screen and (max-width: 320px) { @content; }
	}
}