@import "base";
// =======Sprites
// .whatever{
// 	@include sized-sprite($icons, badge_hit);
// 	@include retina{
// 		@include sized-sprite($icons, badge_new);
// 	}
// }
// =======animation example
// @include keyframes(rotate) {
//    from {
//       @include rotate(0);
//    }
//    to {
//       @include rotate(360);
//    }
// }
// body:hover{
// 	@include animation(rotate 200s linear infinite);
// }
// ========gradient example
// body{
// @include background-image(linear-gradient(#232323, #5c5c5c));
// }



*{margin:0;padding:0;-webkit-text-size-adjust: none; }
body{
	font: {
	    family: Tahoma, sans-serif;
	    weight: normal;
	    size: 14px;
	  	}
	line-height:1.43;
	color: #222;
}
// resets
a img,fieldset{
	border:none;
	}
a{
	color:#222;
	&:hover{
		text-decoration:none;
	}
}
header,footer,nav,figure{display: block;}

// common styles

.header{
	width: $wsite;
	margin:0 auto; 
	@include respond-to(step) {
		width: 98%;
	}
	padding: 20px 0 10px;
	.header__holder{
		display: inline-block;
		width:100%;
		@include respond-to(step2) {
			display: block;
		}
	}
	.header__top{
		display: inline-block;
		float: right;
		margin-bottom:11px; 
		@include respond-to(step2) {
			display: block;
			float: none;
			margin: 0 auto;
			padding-left: 20px;
			width: 212px;
		}
	}
}
.logo{
	float: left;
	@include sized-sprite($icons, 'logo');
	@include hide-text;
	cursor: pointer;
	margin-bottom: 11px;
	@include respond-to(step2) {
		display: block;
		float: none;
		margin:0 auto 11px; 
	}
	a{
		display: block;
		height: 100%;
	}
}
.search-form{
	float: left;
	position: relative;
	margin-right: 20px;
	@include respond-to(step1) {
		float: none;
		margin-bottom: 10px;
	}
	.input{
		display: block;
		border:1px solid $blue;
		font-family:"LucidaGrande", Tahoma, sans-serif;
		width: 184px;
		padding:2px 3px;
		font-size: 14px;
		height: 20px
	}
	.search-btn{
		@include hide-text;
		@include sized-sprite($icons, 'icon-search');
		position: absolute;
		top:1px;
		right:1px;
		border:0;
		cursor: pointer;
	}
}
.btn-contact{
	background: $blue;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	width: 140px;
	text-align: center;
	float: left;
	text-decoration: none;
	height: 26px;
	line-height: 26px;
	position: relative;
	z-index:10; 
}
.lang{
	float: left;
	font-weight: bold;
	width: 50px; 
	position: relative;
	span{
		padding:2px 2px 0 12px;
		display: inline-block; 
    }
	.lang__drop{
		background: #fff;
		position: relative;
		z-index:7;
		padding:3px 0 7px;
		display: none;
		position: absolute;
		top:100%;
		left:0;
		ul{
			position: relative;
			z-index:10; 
		}
		li{
			list-style: none;
			width: 50px;
		}
		a{
			text-decoration: none;
			color: #000;
			display: block;
			padding:3px 0 2px 12px; 
		}
		&:after{
			box-shadow:0 0 6px rgba(0,0,0,.5);
			width:100%;
			height: 105px;
			position: absolute;
			content:'';
			bottom: 0;
			left:0;
			z-index:3;
		}
		&:before{
			width:62px;
			@include background-image(linear-gradient(#fff, rgba(255,255,255,.0)));
			height: 111px;
			position: absolute;
			content:'';
			bottom: 0;
			left:-6px;
			z-index:5;
		}
	}
	.lang__active{cursor: pointer;}
	.arr_down{
		position: absolute;
		right: 1px;
		top: 10px;
	}
}
.arr_down{
	@include sized-sprite($icons, 'arr-d-black');
	display: inline-block;
}
.nav-holder{
	display: inline-block;
	float: right;
	margin-top: 11px;
	@include respond-to(step2) {
		display: block;
		float: none;
		margin:0 auto 11px; 
		clear: both;
		padding-top: 22px;
		text-align: center;
	}
}
.nav{
	li{
		display: inline-block;
		list-style: none;
		font-weight: bold;
		text-transform: uppercase;
		margin: 0 1px 0 26px;
		position: relative;
		&:hover{
			a{color:$blue;}
			.arr_down{@include sized-sprite($icons, 'arr-d-blue');}
			.nav__drop{display: block;}
		}
	}
	a{
		color: #222; 
		text-decoration: none;
	}
	.nav__drop{
		display: none;
		position: absolute;
		top:100%;
		left: 50%; 
		width: 740px;
		margin-left: -325px;
		padding-top:31px;
		z-index:15;
		@include respond-to(step) {
			width: 260px;
			margin-left: -130px;
		}
		li{
			margin:0 10px 20px; 
			float: left;
			@include respond-to(step) {
				display: block;
				float: none;
			}
		}
		ul{
			background: $blue;
			padding:27px 10px 1px;
			font-family:"LucidaGrande-B", Tahoma, sans-serif;
			overflow: hidden;
		}
		a{color:#fff;}
		strong{
			font-weight: normal;
			font-size: 12px;
			color: #fff ;
			display: block;
			margin-bottom:10px; 
			}
		img{vertical-align: top;}
		.nav__drop-arr{
			@include sized-sprite($icons, 'arr-drop');
			position: absolute;
			top:10px;
			left: 50%;
			margin-left:-25px;
		}
	}
	.arr_down{margin-left:4px;}
}


.header-media{
	background: url(../img/bg-media.png);
	text-align: center;
	margin-bottom:20px; 
	img{
		vertical-align: top;
			@include respond-to(step) {
			width: 100%;
		}
	}
}

.footer{
	background: $blue;
	color: #fff;
	padding:25px 0 0; 
	.footer__title{
		font-size: 14px;
		color: #fff;
		border-bottom: 1px dotted;
		padding-bottom:3px;  
		margin-bottom:7px; 
	}
	.footer__nav{
		margin-bottom:34px; 
		li{
			list-style: none;
			margin:7px 0;
		}
		a{
			color: #fff;
			text-decoration: none;
			&:hover{text-decoration: underline;}
		}
	}
	.footer__note{
		font-size: 11px;
		line-height:1.27;
		display: block
	}
	.footer__rights{
		border-top:1px dotted #fff;
		text-align: center;
		font-size:12px; 
		padding: 8px 0 13px;
		margin-top:25px; 
	}
}

.form-subscribe{
	display: inline-block;
	margin: 13px 0 7px;
	.input{
		width: 188px;
		padding:0 5px;
		box-shadow:0 0 3px rgba(0,0,0,.75) inset;
		float: left;
		height: 26px;
		line-height: 26px;
		border:0;
	}
	.btn{
		float: left;
		width: 100px;
		text-align: center;
		height: 26px;
		font-size: 14px;
		color: #222;
		border:0;
		@include respond-to(step){
			width: 198px;
		}
	}
}
.icon{
	display: inline-block;
	position: relative;
	top: 2px;
	margin-right:6px; 
}
.icon-fb{
	@extend .icon;
	@include sized-sprite($icons, 'icon-fb');
}
.icon-tw{
	@extend .icon;
	@include sized-sprite($icons, 'icon-tw');
}
.icon-gp{
	@extend .icon;
	@include sized-sprite($icons, 'icon-gp');
}
.icon-tl{
	@extend .icon;
	@include sized-sprite($icons, 'icon-tl');
}
.icon-mail{
	@extend .icon;
	@include sized-sprite($icons, 'icon-mail');
}
.icon-print{
	@extend .icon;
	@include sized-sprite($icons, 'icon-print');
}

.main{
	padding-top:10px; 
	min-height: 220px; 
	p{margin:0 0 20px; }
	.p_mark:before{
		content:'';
		height: 13px;
		width: 13px;
		display: inline-block;
		background: #008375;
		margin-right: 5px; 
		position: relative;
		top:1px;
	}
	figure{
		margin:0 0 20px;
		padding-top:10px;
		img{
			@include respond-to(step) {
				max-width: 100%;
			}
			@include respond-to(step3) {
				width: 100%;
			}
			vertical-align: top;
		}
	}
}
.h1{
	color: $blue;
	font-size:18px;
	margin:13px 0 18px;
}
.h2{
	font-size: 14px;
	color: #222;
	margin:20px 0 15px;
}
.h1_mark{
	@extend .h1;
	&:before{
		content:'';
		height: 15px;
		width: 15px;
		display: inline-block;
		background: #008375;
		margin-right: 7px; 
		position: relative;
		top:1px;
	}
}
.link-more{
	font-weight: bold;
	float: right;
}

.text-block{
	display: inline-block;
	width: 100%;
	margin: 0 0 52px;
	.text-block__holder{
		position: relative;
		padding:0 19px 0;
		z-index:7;
		margin-top: 13px;
	}
	.list{
		margin:20px 0; 
		li{margin-bottom: 20px;}
	}
	
}
.text-block_shadow{
	@extend .text-block;
	position: relative;
	&:after{
		box-shadow:0 0 8px rgba(0,0,0,.5);
		width:100%;
		height: 211px;
		position: absolute;
		content:'';
		top:0;
		left:0;
		z-index:3;
	}
	&:before{
		width:100%;
		padding:0 8px; 
		@include background-image(linear-gradient(rgba(255,255,255,.0), #fff));
		height: 219px;
		position: absolute;
		content:'';
		top:0;
		left:-8px;
		z-index:5;
	}
}
.tabs{
	display: inline-block;
	width: 100%;
	margin-bottom: 52px;
	.tabs__nav{
		height: 44px;
		width: 100%; 
		li{
			float: left;
			list-style: none;
			background: #ccc;
			width: 35%;
			padding:0 6%; 
			position: relative;
			cursor: pointer;
			margin-left: 6%;
			height: 44px;
			&:first-child{margin-left: 0; }
		}
		a{text-decoration: none;}
		h1{
			color: #fff;
			margin-bottom:5px; 
			@include respond-to(step2) {
				font-size: 15px;
			}
			&:before{background: #fff;}
		}
		.active{
			background: #fff;
			box-shadow:0 0 8px rgba(0,0,0,.5);
			position: relative;
			.h1_mark{
				color: $blue;
				&:before{
					background: #008375;
				}
			}
			&:after{
				content:'';
				background: #fff;
				width: 100%;
				bottom:-1px;
				height: 10px;
				position: absolute;
				z-index:11; 
				left: 0;
			}
		}
	}
	.tabs__content{
		position: relative;
		z-index:9;
		padding:4px 19px;
		background: #fff;
		&:after{
			box-shadow:0 0 8px rgba(0,0,0,.5);
			width:100%;
			height: 167px;
			position: absolute;
			content:'';
			top:0;
			left:0;
			z-index:3;
		}
		&:before{
			width:100%;
			padding:0 8px; 
			@include background-image(linear-gradient(rgba(255,255,255,.0), #fff));
			height: 175px;
			position: absolute;
			content:'';
			top:0;
			left:-8px;
			z-index:5;
		}
	}
	.tabs__box{
		position: relative;
		z-index:9;
		display: none;
	}
}

.in{
	width: $wsite;
	margin:0 auto; 
	@include respond-to(step) {
		width: 100%;
		background: #f00; 
	}
	@include respond-to(step1) {
		background: #0f0; 
	}
	@include respond-to(step2) {
		background: #00f; 
	}
	@include respond-to(step3) {
		background: #f0f; 
	}
}
.main{
	width: $wsite;
	margin:0 auto; 
	@include respond-to(step) {
		width: 100%;
		//background: #f00; 
		.l{
			padding:0 8px;
			width: auto; 
		}
	}
	@include respond-to(step1) {
		//background: #0f0; 
	}
	@include respond-to(step2) {
		//background: #00f; 
	}
	@include respond-to(step3) {
		//background: #f0f; 
	}
}
.footer .in{
	@include respond-to(step) {
		width: 96%; 
	}
	@include respond-to(step2) {
		width: 90%;
		.l-col{width: 100%; }
	}
}
.l-col-group{
	@include respond-to(step1) {
		display: inline-block;
		width: 100%;
		&>div:last-child{margin-right: 0;}
		.l-col2,.l-col3,.l-col4{
			width: 50% - $wskpr / 2;
		}
	}
}