@import "base";

/* default layout */
.l{
	width: 100%;
	display: inline-block;
	&>:last-child{margin-right: 0;}
}
.l-col1{
	float:left;
	margin-right:$wskpr; 
	width: grid(1);
}
.l-col2{
	@extend .l-col1;
	width: grid(2);
}
.l-col3{
	@extend .l-col1;
	width: grid(3);
}
.l-col4{
	@extend .l-col1;
	width: grid(4);
}
.l-col5{
	@extend .l-col1;
	width: grid(5);
}
.l-col6{
	@extend .l-col1;
	width: grid(6);
}
.l-col7{
	@extend .l-col1;
	width: grid(7);
}
.l-col8{
	@extend .l-col1;
	width: grid(8);
}
.l-col9{
	@extend .l-col1;
	width: grid(9);
}
.l-col10{
	@extend .l-col1;
	width: grid(10);
}
.l-col11{
	@extend .l-col1;
	width: grid(11);
}
.l-col12{
	@extend .l-col1;
	width: grid(12);
}
.l-col_last{margin-right: 0}