@import "base";

/* default layout */
.l{
	width: 100%;
	display: inline-block;
	/*&>:last-child{margin-right: 0;}*/
}
.l-col1{
	@extend .l-col;
	width: gridpr(1);
}
.l-col2{
	@extend .l-col;
	width: gridpr(2);
}
.l-col3{
	@extend .l-col;
	width: gridpr(3);
}
.l-col4{
	@extend .l-col;
	width: gridpr(4);
	@include respond-to(step2) {
		width: 100%;
		float: none; 
	}
}
.l-col5{
	@extend .l-col;
	width: gridpr(5);
}
.l-col6{
	@extend .l-col;
	width: gridpr(6);
}
.l-col7{
	@extend .l-col;
	width: gridpr(7);
}
.l-col8{
	@extend .l-col;
	width: gridpr(8);
}
.l-col9{
	@extend .l-col;
	width: gridpr(9);
}
.l-col10{
	@extend .l-col;
	width: gridpr(10);
}
.l-col11{
	@extend .l-col;
	width: gridpr(11);
}
.l-col12{
	@extend .l-col;
	width: gridpr(12);
}


.l-col{
	float:left;
	margin-right:$wskpr; 
	@include respond-to(step3) {
		width: 100%;
		float: none; 
	}
}
.l-col_last{margin-right: 0}