@import "base";
.article__list{
	.article__item{
		padding: 10px 0 4px;
		border-top:1px dotted #081451;
		.article__date{
			font-size: 12px;
			color: #222;
			font-weight: bold;
			display: block;
		}
		h2{
			font-size: 16px;
			color: $blue;
			line-height: 1.3;
			a{
				text-decoration: none;
				&:hover{text-decoration: underline;}
			}
		}
		p{margin-bottom: 7px;}
		&:first-child{border:0;}
	}
}

.trans-list{
	overflow: hidden;
	margin:0 -13px 14px; 
	li{
		float: left;
		list-style: none;
		margin:0 10px 10px;
		@include respond-to(step){
			text-align: center;
			float: none; 
		}
	}
	img{vertical-align: top;}
}

.services{
	overflow: hidden;
	padding:33px 0 0;
	margin: 0 0 0 4px;
	.services__left{
		float: left;
	}
	.services__top{
		padding:0 6px;
		border-right: 1px solid #ccc; 
		margin-bottom:9px; 
	}
	.services__bottom{
		padding:0 6px;
		border-right: 1px solid #ccc; 
		li{
			height: 60px;

		}
		.two-lines{
			padding-top:6px;
			height: 54px;
			line-height:14px;
		}
	}
	.services__col{
		float: left;
		width: 206px;
		text-decoration: none;
		a{
			text-decoration: none;
			&:hover, &.services__color{
				li{
				background: #c5d7e7;
				}
				h2{
					@include background-image(linear-gradient(to right, #000841 0%,#040e49 22%,#7b8aa9 100%));
				}
			}
		}
	}
	.services__col_last{
		width: 200px; 
	}
	.services__col_last .services__top, .services__col_last .services__bottom{
		border-right:0;
		padding-right: 0;
	}
	h2{
		line-height: 40px;
		color: #fff;
		font-weight: normal;
		font-size: 12px;
		margin-bottom: 8px;
		text-align: center;
		text-transform: uppercase;
		@include background-image(linear-gradient(to right, #aab0be 0%,#a9afbb 15%,#aeb2bd 23%,#e0e4e7 82%,#e7ebec 100%));
	}
	li{
		background: #e2e5e6;
		height: 40px;
		line-height:40px;  
		margin-bottom: 4px;
		list-style: none;
		text-align: center;
		color: #000a4e;
		font-size: 12px;
	}
	.two-lines{
		line-height:14px;
		height:34px;
		padding-top:6px;
	}
	.services__empty{background: #eef0f1; }
	.services__left{
		width: 40px;
		padding-top: 48px;
		.services__bottom, .services__top{
			background: #9ea5ad;
			border:0;
			padding: 0;
		}
		.title_advisory{
			@include sized-sprite($icons, 'title-advisory');
			@include hide-text;
			background-size: auto;
			padding: 0; 
		}
		.title_placement{
			@include sized-sprite($icons, 'title-placement');
			@include hide-text;
			background-size: auto;
			padding: 0; 
		}
	}
}

.services_big{
	margin: 0 0 0 32px;
	.services__bottom{
		padding:0 6px;
		border-right: 1px solid #ccc; 
		li{height: 60px;}
		.two-lines{
			padding-top:6px;
			height: 74px;
			line-height:18px;
		}
	}
	.services__col{
		width: 230px;
		text-decoration: none;
		border-right:0;
		padding-right:0;
		li{background: #c5d7e7;}
		h2{
			@include background-image(linear-gradient(to right, #000841 0%,#040e49 22%,#7b8aa9 100%));
		}
	}
	h2{
		line-height: 46px;
		font-size: 14px;
		margin-bottom: 8px;
		text-align: left;
		padding-left:18px; 
	}
	li{
		background: #e2e5e6;
		height: 47px;
		line-height:47px;  
		margin-bottom: 5px;
		text-align: left;
		font-size: 14px;
		padding-left:14px;
	}
	.two-lines{
		line-height:16px;
		height:40px;
		padding-top:7px;
	}
	.services__left{
		width: 46px;
		padding-top: 54px;
		margin-right: 2px;
		.title_advisory{
			@include sized-sprite($icons, 'title-advisory_big');
		}
		.title_placement{
			@include sized-sprite($icons, 'title-placement_big');
		}
	}
}

.industry-focus{
	padding: 31px 0 0 16px;
	.industry-focus__row{
		overflow: hidden;
		margin-bottom: 4px;
		&:hover{
			h2{
				@include background-image(linear-gradient(to right, #000841 0%,#040e49 22%,#7b8aa9 100%));
			}
			li{
				background: #c5d7e7;
			}
		}
	}
	h2{
		@include background-image(linear-gradient(to right, #aab0be 0%,#a9afbb 15%,#aeb2bd 23%,#e0e4e7 82%,#e7ebec 100%));
		height: 85px;
		line-height: 85px;
		width: 120px;
		color: #fff;
		font-weight: normal;
		font-size: 12px;
		padding:0 15px; 
		text-transform: uppercase;
		float: left;
		margin-right: 9px;
	}
	ul{

	}
	li{
		float: left;
		list-style: none;
		height: 40px;
		width: 163px;
		padding: 0 15px; 
		background: #e2e5e6;
		margin:0 9px 5px 0;
		color: #000a4e;
		line-height: 40px;
		
	}
}

.team{
	padding:19px 0 0 2px; 
	li{
		list-style: none;
		overflow: hidden;
		border-top: 1px solid #cecece;
		padding: 11px 0;
		&:first-child{
			border-top:0;
		}
	}
	.team__photo{
		float: left;
	}
	.team__name{
		float: left;
		margin:9px 0 0 20px; 
		h2{
			color: $blue;
			font-size: 13px;
			text-transform: uppercase;
			a{
				color: $blue;
				text-decoration: none;
			}
			&:before{
				content:'';
				height: 13px;
				width: 13px;
				display: inline-block;
				background: #008375;
				margin-right: 5px; 
				position: relative;
				top:1px;
			}
		}
		h3{
			font-weight:normal;
			font-size: 15px;
			margin-left:18px; 
		}
	}
	.team__social{
		float: right;
	}
}
.linkedin{
	display: block;
	@include sized-sprite($icons, 'linkedin');
}
.person__data{
	padding: 0 0 32px;
	.h1_mark{
		margin: 17px 0 32px;
	}
	p{
		margin: 0 25px 10px;
		line-height: 1.4;
	}
}
.person__info{
	padding:0 0 5px; 
	h2{
		text-transform: uppercase;
		font-size: 14px;
		font-weight: normal;
		border-bottom:1px solid #ccc;
		margin-bottom: 35px;
		span{
			border:1px solid #ccc;
			border-width:1px 1px 0 0;
			background: #fff;
			display: inline-block;
			position: relative;
			bottom: -1px;
			padding: 4px 0 7px 25px;
			width: 190px; 
		}
	}
	dl{
		width: 100%;
		display: inline-block;
	}
	dt{
		float: left;
		font-weight: bold;
		width: 25%; 
		padding:0 0 0 3.8%;  
		margin:0 0 33px;
	}
	dd{
		float: left;
		width: 60%;
		margin:0 0 33px; 
	}
}
.h1_pers{
	@extend .h1;
	margin-bottom: 0;
}
.person__post{
	color: #999;
	display: block;
	font-size: 13px;
	margin: -3px 0 25px;
	position: relative;
}
.person__photo{margin:0 0 10px;}

.map-holder{
	margin:0 0 25px;
	position: relative;
}
.map-legend{
	position: absolute;
	right: -5px;
	top: -30px;
}
.add-menu{
	li{
		list-style: none;
	}
	a{
		color: $blue;
		font-size: 13px;
		text-decoration: none;
		
		&:hover{
			text-decoration: underline;
		}
	}
	.active a{
		font-weight: bold;
	}
}
.img-text{
	display: inline-block;
	width: 100%;
	.h2{
		margin: 10px 0 20px;
	}
}
.main  .img-left{
	float: left;
	margin-right:40px; 
}
.trans-list_big{
	@extend .trans-list;
	img{
		border:1px solid #c5c5c9;
		width: 137px;
	}
	li{
		cursor: pointer;
		margin: 0 16px 35px;
		&:hover{
			box-shadow:3px 3px 5px rgba(0,0,0,.2);
		}
	}
}

.position-list{
	li{
		list-style: none;
		border-bottom:1px dotted $blue;
		padding:30px 0 15px; 
	}
	h2{
		font-size:16px;
		color: $blue;
		margin-bottom: -1px;
	}
	p{

	}
}