@import "base";
.article__list{
	.article__item{
		padding: 10px 0 4px;
		border-top:1px dotted #081451;
		.article__date{
			font-size: 12px;
			color: #222;
			font-weight: bold;
			display: block;
		}
		h2{
			font-size: 16px;
			color: $blue;
			line-height: 1.3;
			a{
				text-decoration: none;
				&:hover{text-decoration: underline;}
			}
		}
		p{margin-bottom: 7px;}
		&:first-child{border:0;}
	}
}

.trans-list{
	overflow: hidden;
	margin:0 -13px 14px; 
	li{
		float: left;
		list-style: none;
		margin:0 10px 10px;
		@include respond-to(step){
			text-align: center;
			float: none; 
		}
	}
	img{vertical-align: top;}
}

.services{
	overflow: hidden;
	padding:33px 0 0;
	margin: 0 0 0 4px;
	.services__left{
		float: left;
	}
	.services__top{
		padding:0 6px;
		border-right: 1px solid #ccc; 
		margin-bottom:9px; 
	}
	.services__bottom{
		padding:0 6px;
		border-right: 1px solid #ccc; 
		li{
			height: 60px;

		}
		.two-lines{
			padding-top:6px;
			height: 54px;
			line-height:14px;
		}
	}
	.services__col{
		float: left;
		width: 206px;
		text-decoration: none;
		a{
			text-decoration: none;
			&:hover, &.services__color{
				li{
				background: #c5d7e7;
				}
				h2{
					@include background-image(linear-gradient(to right, #000841 0%,#040e49 22%,#7b8aa9 100%));
				}
			}
		}
	}
	.services__col_last{
		width: 200px; 
	}
	.services__col_last .services__top, .services__col_last .services__bottom{
		border-right:0;
		padding-right: 0;
	}
	h2{
		line-height: 40px;
		color: #fff;
		font-weight: normal;
		font-size: 12px;
		margin-bottom: 8px;
		text-align: center;
		text-transform: uppercase;
		@include background-image(linear-gradient(to right, #aab0be 0%,#a9afbb 15%,#aeb2bd 23%,#e0e4e7 82%,#e7ebec 100%));
	}
	li{
		background: #e2e5e6;
		height: 40px;
		line-height:40px;  
		margin-bottom: 4px;
		list-style: none;
		text-align: center;
		color: #000a4e;
		font-size: 12px;
	}
	.two-lines{
		line-height:14px;
		height:34px;
		padding-top:6px;
	}
	.services__empty{background: #eef0f1; }
	.services__left{
		width: 40px;
		padding-top: 48px;
		.services__bottom, .services__top{
			background: #9ea5ad;
			border:0;
			padding: 0;
		}
		.title_advisory{
			background: url(../img/title-advisory.png) 50% 50%;
			height: 216px;
			width: 40px;
			@include hide-text;
			background-size: auto;
			padding: 0; 
		}
		.title_placement{
			background: url(../img/title-placement.png) 50% 50%;
			height: 124px;
			width: 40px;
			@include hide-text;
			background-size: auto;
			padding: 0; 
		}
	}

	@include respond-to(step) {
		width: 99%;
		margin-left:1%;
		.services__left{
			width: 6%; 
			.title_advisory, .title_placement{width: 100%; }
		}
		.services__col{width: 31%;}
	}
	@include respond-to(step1){
		.services__col{
			width:100%;
			.services__bottom, .services__top{
			border:0;
			padding: 0;
			}
			.services__bottom:before, .services__top ul:before{
				content:"ADVISORY & EXECUTION";
				display: block;
				text-transform: uppercase;
				text-align: center;
				height: 30px;
				line-height: 30px;
				margin-bottom: 4px;
				background: #9ea5ad;
				color:#fff;
				font-size: 10px;
			}
			.services__bottom:before{content:"PLACEMENT";}
		}
		.services__left{display: none;}
	}
}

.services_big{
	margin: 0 0 0 32px;
	.services__bottom{
		padding:0 6px;
		border-right: 1px solid #ccc; 
		li{height: 60px;}
		.two-lines{
			padding-top:6px;
			height: 74px;
			line-height:18px;
		}
	}
	.services__col{
		width: 230px;
		text-decoration: none;
		border-right:0;
		padding-right:0;
		li{background: #c5d7e7;}
		h2{
			@include background-image(linear-gradient(to right, #000841 0%,#040e49 22%,#7b8aa9 100%));
		}
	}
	h2{
		line-height: 46px;
		font-size: 14px;
		margin-bottom: 8px;
		text-align: left;
		padding-left:18px; 
	}
	li{
		background: #e2e5e6;
		height: 47px;
		line-height:47px;  
		margin-bottom: 5px;
		text-align: left;
		font-size: 14px;
		padding-left:14px;
	}
	.two-lines{
		line-height:16px;
		height:40px;
		padding-top:7px;
	}
	.services__left{
		width: 46px;
		padding-top: 54px;
		margin-right: 2px;
		.title_advisory{
			background: url(../img/title-advisory_big.png) 50% 50%;
			width: 46px;
			height: 255px;
		}
		.title_placement{
			background: url(../img/title-placement_big.png) 50% 50%;
			width: 46px;
			height: 165px;
		}
	}
	@include respond-to(step) {
		width: 90%;
		margin-left:9%;
		.services__left{
			width: 14.8%;
			margin-right:0.6%;
			.title_advisory, .title_placement{width: 100%; }
		}
		.services__col{width: 74%;}
	}
}

.industry-focus{
	padding: 31px 0 0 16px;
	.industry-focus__row{
		overflow: hidden;
		margin-bottom: 4px;
		ul{overflow: hidden;
		}
		&:hover{
			h2{
				@include background-image(linear-gradient(to right, #000841 0%,#040e49 22%,#7b8aa9 100%));
			}
			li{
				background: #c5d7e7;
			}
		}
	}
	h2{
		@include background-image(linear-gradient(to right, #aab0be 0%,#a9afbb 15%,#aeb2bd 23%,#e0e4e7 82%,#e7ebec 100%));
		height: 85px;
		line-height: 85px;
		width: 120px;
		color: #fff;
		font-weight: normal;
		font-size: 12px;
		padding:0 15px; 
		text-transform: uppercase;
		float: left;
		margin-right: 9px;
	}
	li{
		float: left;
		list-style: none;
		height: 40px;
		width: 163px;
		padding: 0 15px; 
		background: #e2e5e6;
		margin:0 9px 5px 0;
		color: #000a4e;
		line-height: 40px;
		
	}
	@include respond-to(step) {
		width: 96.75%;
		padding-left: 1.55%;
		margin: 0 auto;
		h2{
			padding:0 2.65%;
			width: 24%;
			margin-right:1.6%;  
		}
		li{
			padding:0 3.7%;
			margin-right:2.2%;
			width: 40.4% 
		}
	}
	@include respond-to(step1){
		h2{
			width: 92.5%;
			float: none;
			text-align: center;
			margin-bottom: 5px;
			height: 45px;
			line-height: 45px;
		}
	}
}

.team{
	padding:19px 0 0 2px; 
	li{
		list-style: none;
		overflow: hidden;
		border-top: 1px solid #cecece;
		padding: 11px 0;
		&:first-child{
			border-top:0;
		}
	}
	.team__photo{
		float: left;
		@include respond-to(step3) {
		width: auto;
		}
	}
	.team__name{
		float: left;
		margin:9px 0 0 20px; 
		h2{
			color: $blue;
			font-size: 13px;
			text-transform: uppercase;
			a{
				color: $blue;
				text-decoration: none;
			}
			&:before{
				content:'';
				height: 13px;
				width: 13px;
				display: inline-block;
				background: #008375;
				margin-right: 5px; 
				position: relative;
				top:1px;
			}
		}
		h3{
			font-weight:normal;
			font-size: 15px;
			margin-left:18px; 
		}
	}
	.team__social{
		float: right;
	}
}
.linkedin{
	display: block;
	@include sized-sprite($icons, 'linkedin');
}
.person__data{
	padding: 0 0 32px;
	.h1_mark{
		margin: 17px 0 32px;
	}
	p{
		margin: 0 25px 10px;
		line-height: 1.4;
	}
}
.person__info{
	padding:0 0 5px; 
	h2{
		text-transform: uppercase;
		font-size: 14px;
		font-weight: normal;
		border-bottom:1px solid #ccc;
		margin-bottom: 32px;
		span{
			border:1px solid #ccc;
			border-width:1px 1px 0 0;
			background: #fff;
			display: inline-block;
			position: relative;
			bottom: -1px;
			padding: 4px 0 7px  25px;
			width: 190px;
			@include respond-to(step3) {
				width: 155px;
			}
		}
	}
	dl{
		width: 100%;
		display: inline-block;
	}
	dt{
		float: left;
		font-weight: bold;
		width: 25%; 
		padding:0 0 0 3.8%;  
		margin:0 0 33px;
	}
	dd{
		float: left;
		width: 60%;
		margin:0 0 33px; 
	}
}
.h1_pers{
	@extend .h1;
	margin-bottom: 0;
}
.person__post{
	color: #999;
	display: block;
	font-size: 13px;
	margin: -3px 0 25px;
	position: relative;
}
.person__photo{
	margin:0 0 10px;
	@include respond-to(step1) {
		max-width: 100%; 
	}
}

.map-holder{
	margin:0 0 25px;
	position: relative;
}
.map-legend{
	position: absolute;
	right: -5px;
	top: -30px;
}
.add-menu{
	li{
		list-style: none;
	}
	a{
		color: $blue;
		font-size: 13px;
		text-decoration: none;
		
		&:hover{
			text-decoration: underline;
		}
	}
	.active a{
		font-weight: bold;
	}
}
.img-text{
	display: inline-block;
	width: 100%;
	.h2{
		margin: 10px 0 20px;
	}
}
.main  .img-left{
	float: left;
	margin-right:40px; 
}
.trans-list_big{
	@include respond-to(step) {
		text-align: center;
	}
	@extend .trans-list;
	img{
		border:1px solid #c5c5c9;
		width: 137px;
	}
	li{
		@include respond-to(step) {
			display: inline-block;
		}
		cursor: pointer;
		margin: 0 16px 35px;
		&:hover{
			box-shadow:3px 3px 5px rgba(0,0,0,.2);
		}
	}
}

.position{
	.position__item{
		list-style: none;
		border-bottom:1px dotted $blue;
		padding:30px 0 15px; 
	}
	h2{
		font-size:16px;
		color: $blue;
		margin-bottom: -1px;
	}
}

.press{
	.press__item{
		list-style: none;
		border-top:1px dotted $blue;
		padding:10px 0 0; 
		&:first-child{border:0;}
	}
	em{
		font-size: 12px;
		color: #424242;
		font-style: normal;
	}
	h2{
		font-size:16px;
		color: $blue;
		margin-bottom: -1px;
	}
	p{
		margin-bottom: 18px;
	}
}


.employee{
	margin: 17px 0 44px;
	.employee__img{
		float: left;
		margin:0 10px 12px 0;
		padding:0;
	}
	h1{
		margin:0 0 22px; 
	}
	img{vertical-align: top;}
	p{
		margin-top: 0;
		line-height:1.3; 
	}
	.employee__post{
		clear: both;
		color: #424242;
		font-size: 13px;
		span{
			display: block;
		}
	}
	@include respond-to(step1) {
		.employee__img{
			float: none;
			width: auto; 
		}
	}
}


.contact-box{
	width: 100%;
	margin: 17px 0 44px;
	display: inline-block; 
	.contact-box__img{
		float: left;
		margin:0 20px 0 0;
		padding:0;
	}
	.contact-box__info{
		margin-left: 140px;
		line-height:1.3; 
		
	}
	@include respond-to(step1) {
		.contact-box__img{
			float: none;
			margin-bottom: 12px;
			}
		.contact-box__info{margin-left: 0;}
	}
	h1{margin-top: 0;}
	h2, h3{
		font-size: 14px;
		color:#333333;
	}
	span{display: block;}
	p{margin: 0 0 17px;}
}
.contact-box_wi{
	@extend .contact-box;
	margin: 5px 0 35px;
	.contact-box__info{
		margin-left: 21px;
		width: auto;
		}

}
.h2_mark{
	color:#424242;
	font-size: 16px; 
	margin-bottom: 10px;
	&:before{
		background: none repeat scroll 0 0 #008375;
		content: "";
		display: inline-block;
		height: 13px;
		margin-right: 7px;
		position: relative;
		top: 0;
		width: 13px;
	}
}

.contact-box h1, .contact-box_wi h1 {
    margin-top: 0;
}
.h1, .h1_mark, .h1_pers {
    color: #001060;
    font-size: 18px;
    margin: 13px 0 18px;
}

.event{
	margin:0 0 40px; 
	h1{margin:15px 0 30px;}
	.event__item{margin:0 0 20px;}
	em{
		font-size: 12px;
		color: #424242;
		font-style: normal;
	}
	h2{
		font-size: 16px;
		color: $blue;
		margin:0 0 -2px; 
	}
}

.tab-menu{
	text-align: right;
	margin: -9px 0 -17px;
	li{
		list-style: none;
		display: inline-block;
		font-size: 13px;
		border-left: 1px solid #999;
		padding:0 6px 0 9px;
		line-height: 1;
		&:first-child{border:0;}
	}
	a{
		color: #999;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}
.pagi{
	color: $blue;
	text-align: center;
	margin: 50px 0 0 55px;
	a{
		color: $blue;
		text-decoration: none;
		&:hover{text-decoration: underline;} 
	} 
}

.btn_gray{
	background: #e0e0e0;
	color: $blue; 
	width: 140px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	margin-bottom: 13px;
	font-weight: bold;
	cursor: pointer;
}

.contact-form{
	display:none;
	h1{margin-bottom: 25px;}
	.row{
		display: inline-block;
		width: 100%;
		margin-bottom: 15px;
	}
	.input{
		color: #000;
		font-family: Tahoma, sans-serif;
		font-size: 12px;
		height: 23px;
		width: 425px;
		padding:0 5px; 
		@include respond-to(step) {
			width: 70%;
			padding:0 1%; 
		}
		@include respond-to(step3) {
			width: 98%;
			float: none;
		}
	}
	.label{
		font-size: 14px;
		font-weight: bold;
	    width: 140px;
	    color: #424242;
	    float: left;
	    @include respond-to(step) {
			width: 24%;
		}
		 @include respond-to(step3) {
			width: 100%;
			float: none;
		}
	}

	.input_textarea{
		width: 425px;
		padding:5px;
		height: 125px;
		@include respond-to(step) {
			width: 70%;
			padding:0 1%; 
		}
		 @include respond-to(step3) {
			width: 98%;
			float: none;
		}
	}
	.btn_submit{
		background: $blue; 
		width: 140px;
		height: 27px;
		color: #fff;
		text-transform: uppercase;
		border:0;
		float: right;
		font-weight: bold;
		cursor: pointer;
	}
}
.comtact-map{display: none;}


.office-list{
	padding: 0 0 0 20px;
	line-height:1.3; 
	dt{
		float: left;
		width: 104px;
	}
	dd{margin-left: 104px;}
}

.search{
	font-size:	12px;
	line-height: 1.5;
	.search__box{
		border-bottom: 1px solid #ccc;
		margin-bottom: 15px;
		padding-bottom: 10px;
	}
	.search__label{
		margin-right: 10px;
		font-weight:bold;
	}
	.search__input{
		border: 1px solid #bbb;
		margin:6px 0;
		height: 16px;
		padding:1px;
	}
	.search__whatis{margin: 10px 0 5px;}
	.search__sw{
		font-style:italic;
		font-weight:bold;
	}
	.search__nav{
		margin-bottom: 20px;
		p{margin-bottom:18px;}
		.search__page{
			display:inline-block;
			width: 100%;
			li{
				float:left;
				list-style:none;
				margin-right:5px;
			}
			a{
				display: block;
				font-size: 11px;
				line-height: 11px;
				margin: 0;
    			padding: 5px 8px;
				text-decoration: none;
				background: #aeb0bf;
				color:#fff;
			}
			.active a{background:$blue;}
		}
	}
	.search__result{
		 border-bottom: 1px solid #ccc;
		 padding-bottom:15px;
		 margin-bottom:10px;
		h3{
			font-size: 13px;
			font-weight: bold;
			line-height: 16px;
			color:$blue;
			a{color:#000;}
			&:before{
				content:"";
				display: inline-block;
				@include sized-sprite($icons, 'pages');
				position: relative;
				top:4px;
			}
		}
		p{margin:0;}
		strong{color: #bbc23a;}
	}
}
